In [10]:
from pymongo import MongoClient

In [11]:
uri = "mongodb+srv://sanskar14:sanskar14@cluster0.2lyftse.mongodb.net/?retryWrites=true&w=majority"

In [12]:
client = MongoClient(uri)

In [13]:
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [6]:
mydb=client['sanskarfrist']
#creating database

In [27]:
#list all the databases namesclient.list_database_names()

OperationFailure: Unsupported OP_QUERY command: listDatabases. The client driver may require an upgrade. For more details see https://dochub.mongodb.org/core/legacy-opcode-removal

In [7]:
mycol = mydb['myfirstcollection']

In [14]:
myfristrecord= {"name":"sanskar","lname":"jain","address":"panna"}

In [15]:
myfristrecord

{'name': 'sanskar', 'lname': 'jain', 'address': 'panna'}

In [27]:
client.list_database_names()

['sanskarfrist', 'admin', 'local']

In [29]:
mycol.insert_one(myfirstrecord)

NameError: name 'myfirstrecord' is not defined

In [20]:
multiplerecords = [
    {"name": "sanskar", "lname": "jain", "address": "panna"},
    {"name": "naman", "lname": "jain", "address": "panna"},
    {"name": "akshat", "lname": "jain", "address": "panna"}
]

In [21]:
result = mycol.insert_many(multiplerecords)

In [22]:
mycol.find_one()

{'_id': ObjectId('64f2f60ad758f63e2bbcb324'),
 'name': 'sanskar',
 'lname': 'jain',
 'address': 'panna'}

In [33]:
for x in mycol.find():
    print (x)

{'_id': ObjectId('64f2f60ad758f63e2bbcb324'), 'name': 'sanskar', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb325'), 'name': 'naman', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb326'), 'name': 'akshat', 'lname': 'jain', 'address': 'panna'}

In [31]:
mycol.find_one({'name':'sanskar'})

{'_id': ObjectId('64f2f60ad758f63e2bbcb324'),
 'name': 'sanskar',
 'lname': 'jain',
 'address': 'panna'}

In [34]:
for x in mycol.find({'address':'panna'}):
    print(x)

{'_id': ObjectId('64f2f60ad758f63e2bbcb324'), 'name': 'sanskar', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb325'), 'name': 'naman', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb326'), 'name': 'akshat', 'lname': 'jain', 'address': 'panna'}

In [37]:
for x in mycol.find().sort("name",-1):
    print (x)

# - 1 is used to get data in decending order
# if we want multiple records in one time, so we have to use loops

{'_id': ObjectId('64f2f60ad758f63e2bbcb324'), 'name': 'sanskar', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb325'), 'name': 'naman', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb326'), 'name': 'akshat', 'lname': 'jain', 'address': 'panna'}

In [38]:
mycol.delete_one({'name': 'naman'})

In [39]:
for x in mycol.find().limit(2):
    print(x)

{'_id': ObjectId('64f2f60ad758f63e2bbcb324'), 'name': 'sanskar', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb326'), 'name': 'akshat', 'lname': 'jain', 'address': 'panna'}

In [41]:
myquery=({'name':'akshat'})
newname={"$set":{'name':'rahul'}}

In [42]:
mycol.update_one(myquery,newname)

In [43]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('64f2f60ad758f63e2bbcb324'), 'name': 'sanskar', 'lname': 'jain', 'address': 'panna'}
{'_id': ObjectId('64f2f60ad758f63e2bbcb326'), 'name': 'rahul', 'lname': 'jain', 'address': 'panna'}

In [ ]:
#mycol.find({'salary : {$gt :100000}})

In [1]:
import pandas as pd

In [7]:
file_path = r'C:\Users\Sanskar\Downloads\username.csv'

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path, delimiter=';')

In [8]:
df

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith

In [14]:
mydb=client["username"]

In [15]:
mycol2=mydb["username2"]

In [17]:
df.T.to_json

<bound method NDFrame.to_json of                     0       1          2          3        4
Username     booker12  grey07  johnson81  jenkins46  smith79
 Identifier      9012    2070       4081       9346     5079
First name     Rachel   Laura      Craig       Mary    Jamie
Last name      Booker    Grey    Johnson    Jenkins    Smith>

In [18]:
import json
json.loads(df.T.to_json())

{'0': {'Username': 'booker12',
  ' Identifier': 9012,
  'First name': 'Rachel',
  'Last name': 'Booker'},
 '1': {'Username': 'grey07',
  ' Identifier': 2070,
  'First name': 'Laura',
  'Last name': 'Grey'},
 '2': {'Username': 'johnson81',
  ' Identifier': 4081,
  'First name': 'Craig',
  'Last name': 'Johnson'},
 '3': {'Username': 'jenkins46',
  ' Identifier': 9346,
  'First name': 'Mary',
  'Last name': 'Jenkins'},
 '4': {'Username': 'smith79',
  ' Identifier': 5079,
  'First name': 'Jamie',
  'Last name': 'Smith'}}

In [21]:
csv_file =list(json.loads(df.T.to_json()).values())
#i have to convert it into list of records or list of dict
#   [
 #    {},
 #    {},
 #    {}
 #  ]

In [22]:
mycol2.insert_many(csv_file)